* {
    margin: 0;
    padding: 0;
}

header{

  background-color: brown;
    height: 100px;
    width: 100%;
 

 
    
    
}

a{
    display: flex;
    align-items: center;
    justify-self: center;
}

strong {
    width: 40vw;
} 

#homepage{


    background-image: url(../img/om\ oss\ bild.jpg);
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;

}
#homepage p{
    width: 40vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;
    
}

#logga_footer {
    height: 35vh;
}
ul {
    color: white;
}


footer{
    height: 200px;
    width: auto;
    background-color: burlywood;
    background-image: url(../img/JULIS.png);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 30px;
}


#link_list {
    list-style: element();
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;

    
    width: 400px;
}

.meny_link {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.meny_link:hover {
    color: black;
    font-weight: bolder;
    }
    