* {
    margin: 0;
    padding: 0;
}

header{
    background-color: brown;
    height: 100px;
    width: 100%;


    
}

#homepage{


    background-image: url(../img/img.food.jpg);
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;


}
img{
align-items: center;
justify-content: center

}
ul {
        color: white;
}

footer{
    height: 200px;
    width: auto;
    background-color: burlywood;
    background-image: url(../img/JULIS.png);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 30px;
}

#logga_footer {
    height: 35vh;
}

#link_list {
    list-style: element();
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;

    
    width: 400px;
}

.meny_link {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
    cursor: pointer;
}
.meny_link:hover {
    color: black;
    font-weight: bolder;
    }
    